altgraph==0.17
astroid==2.4.2
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
distro==1.5.0
fake-useragent==0.1.11
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
Nuitka==0.6.12.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.6.0
pyperclip==1.8.2
pytils==0.3
requests==2.25.1
six==1.15.0
soupsieve==2.1
threaded==4.1.0
toml==0.10.2
urllib3==1.26.2
user-agent==0.1.9
weblib==0.1.30
wrapt==1.12.1
